<section>
  <div class="page-header">
    <h1>Flows</h1>
  </div>
  <div class="list-group">
    <a data-ng-repeat="flow in vm.flows"
       data-ui-sref="flows.view({ flowId: flow._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="flow.created | date:'mediumDate'"></span>
        by
        <span data-ng-if="flow.user" data-ng-bind="flow.user.displayName"></span>
        <span data-ng-if="!flow.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="flow.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.flows.$resolved && !vm.flows.length">
    No Flows yet, why don't you <a data-ui-sref="flows.create">create one</a>?
  </div>
</section>
